@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Barlow');
.header_layout_1 {
            position: fixed;
            width: 100%;
            z-index: 101;
        }
        header {
            margin: 0 auto;
            padding: 0;
        }
        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }
        article {
            font-family: 'Anton', sans-serif;
            letter-spacing: 0.5px;
        }
        .content-container {
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        .content-container .text-banner-container {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background: #000;
        }
        .content-container .text-banner-container .bx-wrapper {
            height: 30px;
        }
        .bx-wrapper {
            max-width: 100%;
            position: relative;
            margin: 0 auto;
            padding: 0;
        }
        .content-container .text-banner-container .bx-wrapper .bx-viewport {
            height: 30px!important;
        }
        .bx-viewport ul {
            width: auto;
            position: relative;
        }
        .ol, ul {
            list-style: none;
        }
        .bx-viewport ul li {
            float: none;
            list-style: none;
            position: absolute;
            width: 1519px;
            display: none;
            z-index: 0;
        }
        .content-container .text-banner-container .text-wrap {
            display: table;
            width: 100%;
            height: 30px;
        }
        .content-container .text-banner-container .text-wrap .text-content {
            display: table-cell;
            vertical-align: middle;
        }
        .content-container .text-banner-container .text-wrap .text-content>* {
            font-size: 12px;
            color: #ddd;
        }
        .conteint-container .text-banner-container .bx-controls-direction {
            display: none;
        }
        .bx-wrapper .bx-controls-direction a {
            position: absolute;
            top: 50%;
            margin-top: -16px;
            outline: 0;
            width: 17px;
            height: 31px;
            text-indent: -9999px;
            z-index: 9999;
        }
        .bx-wrapper .bx-prev {
            left: 10px;
            background: url(CONVERSE_files/icon.png) no-repeat -102px -102px;
            background-size: 800px auto;
        }
        .bx-wrapper .bx-next {
            right: 10px;
            background: url(CONVERSE_files/icon.png) no-repeat -127px -102px;
            background-size: 800px auto;
        }
        a {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .content-container .text-banner-container .bxslider-controls .btn-prev {
            left: 10px;
        }
        .content-container .text-banner-container .bxslider-controls a {
            position: absolute;
            top: 0;
            outline: 0;
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: #ddd;
        }
        i {
            speak:none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing:antialiased;
        }
        .content-container .text-banner-container .bxslider-controls a i:before {
            font-weight: bold;
        }
        .icon-arrow_left:before {
            content: "";
        }
        .content-container .text-banner-container .bxslider-controls .btn-next {
            right: 10px;
        }
        .icon-arrow_right:before {
            content: "";
        }
        .header_layout_1 .header-line {
            border-bottom: 0;
            background: #000;
        }
        .contents {
            position: relative;
            margin: 0 auto;
            box-sizing: border-box;
        }
        .header_layout_1 .header-lnb {
            position: static;
            max-width: 100%;
        }
        .header_layout_1 .header-lnb {
            display: table;
            width: 100%;
            margin: 0 auto;
            font-size: 14px;
            text-align: center;
            box-sizing: border-box;
            z-index: 101;
        }
        .width-xlarge {
            padding: 0;
        }
        .header_layout_1 .header-lnb .header-logo {
            min-height: auto;
            display: table-cell;
            width: 250px;
            padding: 5px 20px 5px 0px;
        }
        /*.header_layout_1 .header-lnb a {
            color: #fff;*/
        /*}*/
        .header_layout_1 .header-lnb .header-item {
            display: table-cell;
            vertical-align: middle;
        }
        .header_layout_1 .header-lnb .header-item img {
            margin: 8px 0;
            height: 22px;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth {
            display: table-cell;
            padding: 0;
            line-height: 26px;
            text-align: center;
            vertical-align: middle;
            width: 1200px;
        }
        .header_layout_1 .header-lnb ul {
            list-style: none;
            margin: 0;
            border: 0;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth>.onedepth-list:first-child {
            padding-left: 0px;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth>.onedepth-list {
            position: static;
            display: inline-block;
            padding:0 20px;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth>.onedepth-list>a {
            color: white;
            position: relative;
            display: inline-block;
            padding: 11px 0;
            font-size: 15px;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth>.onedepth-list>a:hover {
            color:#860402;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth>.onedepth-list:hover .header-menu_twodepth {
            display: block;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth .header-menu_twodepth {
            margin: 0 auto 0;
            border: 0;
            padding: 0;
            width: 100%;
            text-align: left;
            display: none;
            position: absolute;
            left: 0;
            min-width: 120px;
            background: #f8f8f8;
            line-height: 30px;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth .header-menu_twodepth>ul {
            max-height: 1300px;
            margin: 0 auto;
            padding: 20px 0;
            box-sizing: border-box;
            text-align: center;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth .header-menu_twodepth .twodepth-list {
            width: 110px;
            margin-right: 30px;
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth .header-menu_twodepth .twodepth-list>a {
            color: #000;
            border-bottom: 1px solid #333;
            font-weight: bold;
            display: block;
        }
        .header_layout_1 .header-lnb .header-menu_onedepth .header-menu_threedepth {
            padding-left: 0;
            margin-top: 10px;
            font-size: 12px;
            color: #cfcece;
        }
        .header_layout_1 .header-lnb .header-menu_etc {
            width: 270px;
            padding-right: 30px;
            position: relative;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
        }
        .header_layout_1 .header-lnb .header-menu_etc>a:first-child {
            margin-left: 0;
        }
        .header_layout_1 .header-lnb .header-menu_etc>a {
            display: inline-block;
        }
        .header_layout_1 .header-lnb .header-menu_etc>a i {
            color: white;
            font-size: 20px;
            padding: 10px;
        }
        .gnb-search {
            display: none;
            position: absolute;
            top: 50%;
            right: 0;
            width: 320px;
            margin-top: 25px;
        }
        fieldset {
            display: block;
            margin: 0;
            padding: 0;
            border: 0;
        }
        fieldset>legend {
            text-indent: -9999px;
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
        .search-field {
            position: relative;
            display: table;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            z-index: 1;
        }
        .input-textfield.width-max {
            width: 100%;
        }
        .search-field .input-textfield {
            display: table-cell;
            box-sizing: border-box;
            vertical-align: top;
        }
        .input-textfield>label {
            position: absolute;
            top: 13px;
            left: 13px;
            font-size: 12px;
            color: #929292;
            cursor: inherit;
        }
        .input-textfield>input {
            width: 100%;
            height: 36px;
            border: 1px solid #f1f1f1;
            padding: 9px 12px;
            outline: 0;
            box-sizing: border-box;
        }
        .input-textfield>.btn-wrap {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -10px;
            border: 0;
            padding: 0;
            background-color: transparent;
        }
        .input-textfield>.btn-wrap .delete {
            line-height: 24px;
            vertical-align: top;
        }
        .search-field .btn_search {
            width: 68px;
            height: 36px;
            background-color: #000;
            padding: 13px 0;
            margin: 0;
            border: 0;
            color: #fff;
        }
        button {
            cursor: pointer;
            outline: 0;
        }
        .search-field .btn_search i {
            display: none;
        }
        .etc-search-wrap.active {
            display: block;
        }
        .etc-search-wrap {
            position: absolute;
            top: 100%;
            overflow: auto;
            max-height: 300px;
            padding: 0;
            border-width: 1px 1px 1px 1px;
            border-color: #929292;
            border-style: solid;
            box-sizing: border-box;
            text-align: left;
        }
        .etc-search-wrap .sort-tabs {
            padding: 10px!important;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }
        .etc-search-wrap .favorite-search .list, .etc-search-wrap .latest-search .list {
            position: relative;
        }
        .etc-search-wrap .favorite-search .list>a, .etc-search-wrap .latest-search .list>a {
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            font-size: 12px;
            color: #383838;
            font-weight: normal;
        }
        .header_layout_1 .header-lnb .header-menu_mobile {
            display: none;
        }
        .header_layout_1 .header-lnb .header-menu_mobile>a {
            display: block;
            width: 26px;
            height: 26px;
            text-indent: 0;
            font-size: 26px;
            margin-left: 10px;
            color: #000;
        }
        .header_layout_1 .header-lnb .header-menu_mobile>a>i {
            float: left;
        }
        .header_layout_1 .header-lnb:after {
            content: '';
            display: block;
            clear: both;
        }

        /* 페이지 전체 여백 설정 및 페이지 기본 크기 구성 */
        html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
        /* 슬라이드 영역의 크기. 여기서 설정한 크기 만큼 슬라이드가 표시된다. */
        #slide-container { width: 100%; height: 92%; padding-top: 70px; }

        /******** 좌우 화살표 처리 ********/
        #slides .slides-navigation { height: 100%; top: 0; }

        #slides .slides-navigation a {
            display: block;
            text-indent: -10000px;
            width: 50px;
            height: 100%;
            background: url(img/arrow.png) no-repeat;
        }

        #slides .slides-navigation a:first-child { background-position: -50px center; }
        #slides .slides-navigation a:last-child { background-position: 0px center; }

		#slide-container:after {
			clear: both;
			content: '';
			display: block;
		}

/* 슬라이드 영역의 크기. 여기서 설정한 크기 만큼 슬라이드가 표시된다. */
#shoes-slide-container { width: 100%; height: 92%; padding-top: 70px; }

/******** 좌우 화살표 처리 ********/
#shoes-slides .slides-navigation { height: 100%; top: 0; }

#shoes-slides .slides-navigation a {
    display: block;
    text-indent: -10000px;
    width: 50px;
    height: 100%;
    background: url(img/arrow.png) no-repeat;
}

#shoes-slides .slides-navigation a:first-child { background-position: -50px center; }
#shoes-slides .slides-navigation a:last-child { background-position: 0px center; }

#shoes-slide-container:after {
    clear: both;
    content: '';
    display: block;
}
#shoes-slide-container {
	width: 1300px;
	margin: auto;
}
.slides-container .slide-shoes {
	width: 25%;
	height: 252px;
	margin: 0;
	padding: 0;
	float: left;
	text-align: center;
}
.slides-container .slide-shoes span{
	padding-top: 20px;
}
.slide-shoes .shoes { 
	width: 200px;
	height: 200px;
}
.slide-shoes .shoes1{
background: url(converse_files/157485C_157485C_primary.jpg);
background-size: cover;
}
.slide-shoes .shoes2{
background: url(converse_files/157486C_157486C_primary.jpg);
background-size: cover;
}
		/*CONTENT*/
		.content-container .tab-title-container {
			margin: 0 auto 20px auto;
			text-align: center;
		}
		.width-max {
			max-width: 100%;
		}
		.uk-display-inline-block {
			display: inline-block!important;
			max-width: 100%;
		}
		.btn-tab.small {
			padding-bottom: 5px;
			font-size: 17px;
		}
		.btn-tab.active, .btn-tab.uk-active {
			border-bottom: 2px solid #000;
		}
		.btn-tab:first-child {
			margin-left: 0;
		}
		.btn-tab {
			float: left;
			margin-left: 40px;
		}
		.btn-tab.active a, .btn-tab.uk-active a {
			color: #000;
		}
		.btn-tab a {
			color: #929292;
		}
		/*.content-container .content-container {
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
		.contents:first-child {
			margin-top: 0;
		}
		.category-slider {
			padding: 0;
		}
		.contents {
			position: relative;
			margin: 0 auto;
			box-sizing: border-box;
		}
		.swipe-wrapper {
			max-width: 1300px;
			position: relative;
			margin: 0 auto;
		}
		.swipe-container {
			width: 100%;
			display: block;
		}
		.bx-wrapper {
			position: relative;
			margin: 0 auto;
			padding: 0;
			max-width: 1168px;
		}
		.bx-viewport {
			width: 100%;
			overflow: hidden;
			position: relative;
			height: 352px;
		}
		.bx-viewport ul {
			width: 37215%;
			position: relative;
			transition-duration: 0s;
			transform: translate3d(-3504px, 0px, 0px);
		}
		.bx-viewport ul li {
			float: left;
			list-style:none;
			position: relative;
			width: 292px;
		}
		.product-item>div:first-child {
			padding: 0 20px;
		}*/

        /*FOOTER*/
        footer {
    		position: relative;
    		min-height: 150px;
    		margin: 0 auto;
    		font-size: 12px;
    		color: #adadad;
    		background-color: #f5f5f5;
    	}
    	footer .footer-contents {
    		max-width: 100%;
    		line-height: 18px;
    	}
    	.border-line {
    		border-top: 1px solid #e5e5e5;
    	}
    	@media (min-width: 768px){
    	.uk-width-medium-1-1 {
    		width:100%;
    	}
    	@media (min-width: 480px){
    	.uk-width-small-1-1 {
    		width:100%;
    	}
    	.newsletter-box {
    		padding: 20px 0 10px;
    		text-align: center;
    	}
    	.newsletter-box>dt {
			line-height: 3em;
			margin-right: 10px;
			font-size: 16px;
			font-weight: bold;
			vertical-align: top;
			color: #000;
			display: inline-block;
    	}
    	.newsletter-box>dd {
    		display: inline-block;
    	}
    	form {
    		display: block;
    	}
    	.newsletter-box .newsletter-field>* {
    		float: left;
    	}
    	.input-textfield {
    		display: inline-block;
    		position: relative;
    		width: 200px;
    	}
    	.newsletter-box .input-textfield>label {
    		top: 10px;
    	}
    	.input-textfield>label {
    		position: absolute;
    		left: 13px;
    		font-size: 12px;
    		color: #929292;
    		cursor: inherit;
    	}
    	.input-textfield>input {
    		width: 100%;
    		height: 36px;
    		border: 1px solid #f1f1f1;
    		padding: 9px 12px;
    		outline: 0;
    		box-sizing: border-box;
    	}
    	input,textarea {
    		-webkit-border-radius:1px;
    		-webkit-appearance:none;
    	}
    	body,button,input {
    		font-size: 13px;
   			color: #606060;
  			line-height: 1;
    	}
    	.newsletter-box .newsletter-field .error-massage {
    		text-align: left;
    	}
    	.error-massage, .server-error-massage {
    		margin: 7px 0 0 0;
    		font-size: 11px;
    		color: #ca3838;
    		display: block;
    	}
    	.footer-contents .newsletter-box .newsletter-conts .btn_join {
    		vertical-align: top;
    	}
    	.newsletter-box .newsletter-field>* {
    		float: left;
    	}
    	.btn-link, .button {
    		text-decoration: none;
    		outline: 0;
    		font-size: 13px;
    		display: inline-block;
    		height: 36px;
    		padding: 12px 40px;
    		margin: 0;
    		border: 0;
    		color: #fff;
    		background-color: #000;
    		font-style: normal;
    		cursor: pointer;
    		line-height: 100%;
    		box-sizing: border-box;
    	}
    	.btn-link:after, .button:after {
    		content: "";
    		display: block;
    		clear: both;
    	}
    	.newsletter-box .newsletter-field:after {
    		content: '';
    		display: block;
    		clear: both;
    	}
    	.newsletter-box .input-form-group {
    		position: absolute;
    		left: 50%;
    		margin-left: -242px;
    	}
    	.input-checkbox>input {
    		-webkit-appearance: checkbox;
    		left: -1000px;
    		opacity: 0;
    		position: absolute;
    	}
    	.input-checkbox>label {
    		display: table;
    		line-height: 20px;
    		cursor: pointer;
    	}
    	.input-checkbox>label>i {
    		display: table-cell;
    		margin-right: 5px;
    	}
    	.brz-icon-checkbox {
    		float: left;
    		width: 18px;
    		height: 18px;
    		background-position: -22px -320px;
    		z-index: 10;
    	}
		#newsletter-chk:checked + label .brz-icon-checkbox {
				background-position: -89px -320px;
		}

    	.icon-background, .brz-icon-instagram, .brz-icon-facebook, .brz-icon-twitter, .brz-icon-cart, .brz-icon-search, .brz-icon-registerdone, .brz-icon-star_small, .brz-icon-star_normal, .brz-icon-star_large, .brz-icon-star_xlarge, .star-bullet, .brz-icon-bambug, .brz-icon-bambug_small, .brz-icon-logo, .brz-icon-info, .brz-icon-select_up, .brz-icon-select_down, .brz-icon-opt-select_up, .brz-icon-opt-select_down, .brz-icon-slidebar, .brz-icon-radio, .brz-icon-checkbox, .brz-icon-delete, .brz-icon-file, .brz-icon-img-file, .brz-icon-arrow, .file-remove_btn, .popup-close_btn {
    		overflow: hidden;
    		background-image:url(converse_files/icon.png);
    		background-repeat: no-repeat;
    		text-indent: -9999px;
    		background-size: 800px auto;
    	}
    	.newsletter-box .input-form-group .label {
    		display: inline;
    		font-size: 11px;
    		vertical-align: middle;
    	}
    	.mobile-br {
    		display: none!important
    	}
    	.newsletter-box .input-form-group a {
    		padding-left: 4px;
    		vertical-align: -1px;
    	}
    	a {
    		color: #000;
    		text-decoration: none;
    		outline: 0;
    	}
    	a, a:hover, a:focus, a:active {
    		cursor: pointer;
    	}
    	a {
    		background: transparent;
    	}
    	.input-checkbox>label:after {
    		content: "";
    		display: block;
    		clear: both;
    	}
    	.store-locator {
    		position: absolute;
    		top: 0;
    		right: 0;
    		padding: 48px 75px 0 0;
    		color: #000;
    		font-weight: bold;
    	}
    	.pc-only {
    		display: block!important;
    	}
    	.store-locator .icon {
    		display: inline-block;
    		width: 20px;
    		height: 20px;
    		margin-left: 5px;
    		background: url(converse_files/con-logo@2x.png)no-repeat;
    		background-size: 20px;
    		vertical-align: -5px;
    	}
    	.footer-contents .footer-nav {
    		color: #adadad;
    	}
    	.footer-contents .footer-nav a {
    		font-family: 'Barlow', sans-serif;
    	}
    	.footer-nav {
    		margin-top: 30px;
    		padding-top: 10px;
    		border-top: 1px solid #e5e5e5;
    	}
    	@media (min-width: 768px){
    	.uk-width-medium-1-1 {
    		width:100%;
    	}
    	@media (min-width: 480px){
    	.uk-width-samll-1-1 {
    		width:100%;
    	}
    	.footer-contents .footer-nav:before {
    		content: '';
    		display: block;
    		margin-top: 20px;
    	}
    	.max-width {
    		max-width: 1300px;
    		margin: 0 auto;
    	}
    	@media (min-width: 768px){
    	.uk-width-medium-1-5, uk-width-medium-2-10 {
    		width:20%;
    	}
    	.uk-grid>* {
    		margin-left: -20px;
    		flex-wrap: wrap;
    		margin: 0;
    		padding: 0;
    		list-style: none; 
    	}
    	.uk-grid:before, .uk-grid:after {
    		content: '';
    		display: block;
    		overflow: hidden;
    	}
    	.uk-grid>* {
    		flex: none;
    		margin: 0;
    		float: left;
    	}
    	.pc-only {
    		display: block!important;
    	}
    	.footer-contents .footer-nav dt {
    		padding-bottom: 5px;
    		color: #333;
    		font-size: 11px;
    		font-family: 'Anton', sans-serif;
    	}
    	.footer-contents .footer-nav dd {
    		margin-top: 8px;
    		font-size: 11px;
    		font-weight: bold;
    	}
    	.uk-grid>*>:last-child {
    		margin-bottom: 0;
    	}
    	.footer-nav .footer-sns a{
    		margin-right: 20px;
    		font-size: 18px;
    	}
    	.footer-contents .footer-nav a {
    		color: #333;
    	}
    	.footer-nav .footer-sns a>span {
    		display: inline-block;
    		width: 22px;
    		height: 22px;
    		border-radius: 50%;
    		background: #000;
    		color: #fff;
    		text-align: center;
    		font-size: 16px;
    		padding-top: 3px;
    		box-sizing: border-box;
    	}
		.uk-width-medium-1-5, .uk-width-medium-2-10 {
			width:20%;
		}
		.uk-grid:after {
			clear: both;
		}
		.footer-company {
			margin-top: 30px;
			padding-top: 30px;
			padding-bottom: 30px;
			border-top: 1px solid #e5e5e5;
			font-size: 11px;
			color: #adadad;
		}
		.footer-company>max-width {
			max-width: 1300px;
			margin: 0 auto;
		}
		.select-external-menu {
			position: relative;
			width: 100%;
			height: 40px;
			margin-bottom: 30px;
			padding: 0;
			background-color: #fff;
			border: 1px solid #cacaca;
			border-radius: 0;
			text-align: center;
			font-size: 12px;
			color: #383838;
			box-sizing: border-box;
		}
		.mobile-only {
			display: none!important
		}
		.select-external-menu .external-btn {
			border: 0;
			background: 0;
			width:100%;
			padding: 12px 0;
		}
		button {
			cursor: pointer;
			outline: 0;
		}
		.select-external-menu .external-list {
			left: -1px!important;
			background-color: #fff;
			border: 1px solid #cacaca;
			box-sizing: border-box;
		}
		.uk-open>.uk-dropdown, .uk-open>.uk-dropdown-blank {
			display: block;
			animation: uk-fade .2s ease-in-out;
			transform-origin: 0 0;
		}
		.uk-dropdown {
			padding: 15px;
			background:#f5f5f5;
			color: #444;
			font-size: 1rem;
			vertical-align: top;
			width: 200px;
			position: absolute;
			z-index: 970;
		}
		.select-external-menu .external-list li {
			margin:2px 0;
		}
		.select-external-menu .external-list li a {
			padding: 5px 0;
			display: block;
			background-color: #e5e5e5;
			color: #000;
		}
		.uk-width-medium-3-5, .uk-width-medium-6-10 {
			width: 60%;
			font-style: normal;
		}
		.slick-track {
			width: 1519px;
			height: 588px;
			display: block;
			opacity: 1;
			position: relative;
			left: 0;
			top: 0;
		}
		.slick-track img {
			width: 100%;
		}